:root {
    --cinza: #aaa;
    --vermelha: #e93d50;
    --vermelha-escura: #af303f;
    --branca: #fff;
    --luz: rgb(229, 255, 0);
  }
  
  body {
    align-items: center;
    background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }

  .botão {
    background-color: var(--branca);
    border-radius: 30px;
    box-shadow: 3px 3px 0 var(--cinza);
    color: var(--vermelha);
    cursor: pointer;
    height: 120px;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    width: 120px;
    position: fixed;
  }
  